matrix:
  include:
    - language: node_js
      node_js:
        - '13'
      dist: trusty
      addons:
      apt:
        sources:
          - google-chrome
        packages:
          - google-chrome-stable
          - google-chrome-beta
      before_install:
        - curl https://get.dgraph.io -sSf | bash -s -- -y
        - export CHROME_BIN=chromium-browser
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
      before_script:
        - cd frontend/social
        - npm install -g angular-cli
        - npm install -g karma
        - npm install
        - ng build
      script: 
        - karma start src/karma.conf.js --single-run
