branches:
  only:
  - master
os: linux
dist: xenial
matrix:
  include:
    - language: node_js
      node_js:
        - '13'
      dist: trusty
      cache:
        yarn: true
        directories:
          - node_modules
      addons:
      apt:
        sources:
          - google-chrome
        packages:
          - google-chrome-stable
          - google-chrome-beta
      before_install:
        - curl https://get.dgraph.io -sSf | bash -s -- -y
        - export CHROME_BIN=chromium-browser
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
      before_script:
        - cd frontend/social
        - yarn
        - yarn install
        - yarn build
      script:
        - yarn run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
        - npm run e2e -- --protractor-config=e2e/protractor-ci.conf.js
