
.group {
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-grow: 1;
  border: 1px solid grey;
}
.mat-card {
  background-color: transparent;
  box-shadow: unset;
}

