.mat-card {
  background-color: transparent;
  box-shadow: unset;
}
mat-icon {
  height: 100%;
  width: auto;
}
.mat-card-title {
  display: inline-block;
  margin-right: 10px;
}
.mat-card-subtitle {
  display: inline-block;
}
