<mat-toolbar class="mat-elevation-z9" color="primary">
    <button mat-button (click)="toggleHome()"><mat-icon aria-label="Side nav toggle icon">home</mat-icon></button>
    <button mat-button (click)="toggleChat()"><mat-icon aria-label="Side nav toggle icon">chat</mat-icon></button>
    <button mat-button (click)="toggleGroup()"><mat-icon aria-label="Side nav toggle icon">group</mat-icon></button>
    <button mat-button (click)="toggleSettings()"><mat-icon aria-label="Side nav toggle icon">settings</mat-icon></button>
    <button mat-button><mat-icon aria-label="Side nav toggle icon">search</mat-icon></button>
    <button mat-button (click)="logout()"><mat-icon aria-label="Side nav toggle icon">logout</mat-icon></button>
</mat-toolbar>
