<mat-toolbar class="mat-elevation-z9" color="primary">
    <button mat-button><mat-icon aria-label="Side nav toggle icon">home</mat-icon></button>
    <button mat-button><mat-icon aria-label="Side nav toggle icon">chat</mat-icon></button>
    <button mat-button><mat-icon aria-label="Side nav toggle icon">group</mat-icon></button>
    <button mat-button><mat-icon aria-label="Side nav toggle icon">settings</mat-icon></button>
    <button mat-button><mat-icon aria-label="Side nav toggle icon">search</mat-icon></button>
</mat-toolbar>
